extends ../../layouts/master
block content
  h3 Albums
  a.btn.btn-default(href='/albums/new') Add New
  
  form(method='get', action='/albums')
    .form-group
      label Display
      select#order
        option Asc
        otpion Dec
  
  .row  
    each album in albums
      .col-xs-4
        .panel.panel-default
          .panel-heading= album.name
          .panel-body= album.date
            a(href='albums/#{album._id}')
              h3= album.name
              img(src=album.photos[0])
