extends ../../layouts/master
block content
  h3 Albums
  a.btn.btn-default(href='/albums/new') Add New
  
  form(method='get', action='/albums')
    .form-group
      select#order-form.form-control(name='order' onchange='submit()')
        option(value='') Sort
        option Ascending
        option Descending
  
  .row  
    each album in albums
      .col-xs-4
        .panel.panel-default
          .panel-heading= album.name
          .panel-body= album.date
            a(href='albums/#{album._id}')
              h3= album.name
              img(src=album.photos[0])
